[category].jsx.recipe {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;

  &__header, &__info, &__subscription-cta, &__suggestions{
    grid-column: 1/-1;
  }

  &__ingredients, &__details {
    grid-column: 1/2;

    @include tablet {
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  }

  &__aside {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}