.hero-card {
  display: grid;
  grid-template-columns: 48.44% 1fr;
  position: relative;

  @include tablet {
    display: flex;
    flex-direction: column-reverse;
  }


  &__body {
    padding: 50px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;

    @include tablet {
      padding: 30px;
    }

    @include mobile-s {
      padding: 15px;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;

    @include tablet {
      width: 100%;
      height: 300px;
    }
    @include mobile-s {
      height: 200px;
    }
  }

  &__category {
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    font-size: 14px;
    font-weight: bold;
    align-self: start;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__title {
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__description {
    line-height: 1.75;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--color-gray-600);

    @include mobile-s {
      margin-bottom: 20px;
    }
  }

  &__tags {
    &:not(:last-child) {
      margin-top: 20px;
      margin-bottom: 30px ;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }


    &-item {
      padding: 8px 16px;
      display: inline-flex;
      align-items: center;
      column-gap: 10px;
      background-color: var(--color-gray-50);
      border-radius: var(--border-radius);
    }

    &-label {
      color: var(--color-gray-600);
    }
  }

  &__footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include laptop-s {
      flex-direction: column;
      align-items: stretch;
      gap: 16px 30px;
    }

    @include tablet {
      flex-direction: row;
    }

    @include mobile-s {
      flex-direction: column;
    }
  }
  &__button {
    width: 100%;
    max-width: 200px;

    @include laptop-s {
      max-width: unset;
    }

    @include tablet {
      max-width: 300px;
    }
    @include mobile {
      max-width: unset;
    }


  }

  &__badge {
    position: absolute;
    top: 50px;
    left: 50%;
    translate: -50% 0;

    @include tablet {
      left: unset;
      right: 30px;
      top: 300px;
      translate: 0 -30%;
    }

    @include mobile {
      width: 100px;
    }

    @include mobile-s {
      width: 80px;
      top: 200px;
    }
  }
}