.article {

  @include tablet {
    width: 100%;
    padding-inline: 20px;

    @include mobile-s {
      padding-inline:0 ;
    }
  }
  &__title {
    @include tablet {
      text-align: center;
    }
  }

  &__field {
    border: none;
    display: flex;
    flex-direction: column;
  }

  &__list--ordered {
    list-style: none;
    counter-reset: --custom-counter;
  }

  &__list-title {
    font-weight: 700;
    padding-top: 48px;
  }

  &__item {
    padding-block: 33px;
    border-bottom: 2px solid var(--color-gray);

    &--content {
      padding-block: 48px;
      counter-increment: --custom-counter;
    }
  }

  &__label {
    display: flex;
    column-gap: 24px;

    @include mobile-s {
      column-gap: 12px;
    }

    &--content {
      align-items: start;
    }
  }

  &__content {
    display: inline-flex;
    flex-direction: column;
    row-gap: 24px;

    * {
      transition-duration: var(--transition-duration);
    }
  }

  &__content-title {
    &:before {
      content: counter(--custom-counter) ' .';
      padding-right: 10px;
    }
  }

  &__content-description {
    color: var(--color-gray-600);
  }

  &__details {
    font-size: 18px;
    transition-duration: var(--transition-duration);
  }


  &__image {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    margin-block: 24px;
    border-radius: 20px;

    @include mobile {
      margin-block: 16px;
    }

    @include mobile-s {
      margin-block: 8px;
    }
  }

  &__custom-checkbox {
    @include square(24px);
    @include flex-center(true);

    padding: 3px;
    border-radius: 50%;
    border: 3px solid var(--color-gray);
    transition-duration: var(--transition-duration);

    &--content {
      margin-top: 5px;
    }

    &-tick {
      color: var(--color-white);

    }
  }

  &__checkbox:checked + &__custom-checkbox {
    background-color: var(--color-black);
    border-color: var(--color-black);
  }

  &__checkbox:checked ~ &__details, &__checkbox:checked ~ &__content *{
    color: var(--color-gray);
    text-decoration: line-through;
  }

  &--blog {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @include mobile {
      row-gap: 16px;
    }

    &__body {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
    }

    &__title {
      padding-top: 40px;

      @include mobile {
        padding-top: 20px;
      }
    }

    &__description {
      color: var(--color-gray-600);
    }

    &__cite {
      font-style: italic;
      font-weight: 500;
      line-height: 1.77;
      margin-inline: -40px;
      padding: 48px 40px;
      border-block:2px solid var(--color-gray-50) ;
      background: linear-gradient(90.00deg, var(--color-gray-50),transparent);

      @include mobile {
        padding-block: 20px;
      }
    }
  }




}