.aside {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  &__title {
    font-size: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-bottom: 48px;
  }

  &__reminder {
    width: 100%;
    height: auto;
    max-width: unset !important;
  }
}