.hero {
  padding-top: calc(var(--section-padding-y) / 2);
  padding-bottom: var(--section-padding-y);


  &__slider {
    &-item {
      max-width: var(--container-width);
      width: 90%;
      border-radius: var(--border-radius-m);
      overflow: hidden;

      @include mobile {
        border-radius: var(--border-radius);
      }
    }
  }
}
