.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.inline-card {
  display: flex !important;
  align-items: center !important;
  column-gap: 0!important;
  text-align: center;

  &>*:not(:first-child) {
    padding-inline:24px ;
    align-self: stretch;
  }

  &>*:nth-child(2) {
    border-right: 2px solid var(--color-gray) ;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}
.hidden-mobile-s {
  @include mobile-s {
    display: none !important;
  }
}
