.author-card {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 5px 10px;
  min-width: 160px;

  &__name {
    font-size: 16px;
    font-weight: 700;
  }

  &__date {
    grid-column: 2/-1;
    color: var(--color-gray-600);
    font-size: 14px;
  }
  &__image {
    grid-row: 1/3;
    width: 100%;
    max-width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
  }

  &--inline {
    display: flex !important;
    align-items: center !important;
    column-gap: 0 !important;
    text-align: center;

    @include mobile {
      margin-inline: auto;
    }

    &__image {
      max-width: 40px;
    }

    &__name, &__date {
      padding-inline:24px ;
      align-self: stretch;
      display: flex;
      align-items: center;

      @include mobile-s {
        padding-inline: 8px;
      }
    }

    &__name {
      border-right: 2px solid var(--color-gray) ;
    }
  }
}