.search-form {
  display: flex;
  max-width: 700px;
  margin-inline: auto;
  border: 3px solid var(--color-gray);
  padding: 10px;
  border-radius: 24px;
  gap: 10px;

  &__input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: var(--border-radius-s);
    color: var(--color-gray-600);
  }
  &__button {
    max-width: 160px;

    @include mobile {
      max-width: 130px;
    }
  }

}