.page-pagination {
  @include flex-center();

  &__navigation {
  display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;

    @include mobile {
      column-gap: 8px;
    }
  }
}