.recipe-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 80px 40px;
  padding-top: 0;

  @include tablet {
    gap: 60px 30px;
  }

  @include mobile{
    gap: 40px 20px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);

    @include tablet {
      grid-column: 1/3;
    }
  }

  &__nutrition {
    @include tablet {
      grid-column: 1/3;
    }
  }

  &__description {
    grid-column: 1/-1;
    color: var(--color-gray-600);
  }

}