.recipes {
  display: flex;
  flex-direction: column;
  row-gap: 96px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }

  &__description {
    max-width: 705px;
    text-align: center;
    color: var(--color-gray-600);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

    @include tablet {
      grid-template-columns: repeat(2,1fr);
      justify-content: center;
      max-width: 830px;
      margin-inline: auto;
    }

    @include mobile {
      max-width: 500px;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    @include flex-center();

    padding: 16px;
    background: var(--gradient);
    border-radius: var(--border-radius);

  }
  &__reminder {
    grid-row: 2/3;
    grid-column: 3/4;

    @include tablet {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }
}