.post-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 80px 64px;
  row-gap: 32px;

  @include mobile {
    padding-block: 40px 32px;
  }

  &__title, &__description {
    text-align: center;
  }

  &__body {
    padding-top: 16px;
    color: var(--color-gray-600);
  }

}