.side-card {
  display: flex;
  align-items: center;
  column-gap: 24px;

  &__image {
    max-width: 180px;
    aspect-ratio: 15/10;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__image {
    border-radius: 24px;
  }

  &__link {
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray-600);
  }
}