.soc1als {
  &--column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 205px;
    box-sizing: content-box;
  }

  &__description {
    font-size: 14px;
    font-weight: 600;
    text-wrap: nowrap;
  }

  &__list {
    display: flex;
    column-gap: 10px;

    @include mobile {
      column-gap: 5px;
    }

    &--column {
      display: contents;
    }
  }

  &__link {
    @include square(44px);

    @include flex-center(true);

    position: relative;

    @include mobile {
      @include square(35px);
    }
  }
}