.pagination-button {
  @include square(64px);
  @include flex-center();

  border: 1px solid var(--color-gray);
  color: var(--color-black);
  border-radius: var(--border-radius-s);

  &--active {
    border: 1px solid var(--color-black);
    color: var(--color-white);
    background-color: var(--color-black);
  }
}