.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;

  &__title {
    z-index: 2;
  }

  &__body {
    width: 100%;
    display: flex;
    column-gap: 40px;

    @include tablet {
      flex-direction: column;
      max-width: 600px;
      row-gap: 60px;
    }
  }


  &__image-container {
    width: 400px;
    flex-shrink: 0;
    max-height: 432px;
    margin-top: 20px;
    position: relative;
    border-radius: var(--border-radius);
    background: var(--gradient);

    @include tablet {
      width: 100%;
      max-width: 500px;
      max-height: unset;
      aspect-ratio: 10/11;
      margin-inline: auto;
    }
  }

  &__image {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%
  }
}