.like-button {
  @include square(48px);

  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: var(--color-white);
  color: var(--color-gray);

  @include hover {
    color: var(--color-white);
    background-color: var(--color-accent);
    scale: 1.1;
  }
}