.recipe-header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 48px 40px;

  @include mobile {
    gap: 24px 10px;
  }


  &__title {
    align-self: end;
    grid-column: 1/2;

    @include mobile {
      grid-column: 1/3;
      text-align: center;
    }
  }
  &__body {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    column-gap: 58px;

    @include tablet {
      grid-column: 1/3;
    }

    @include mobile {
      grid-column: 1/2;
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;
      margin-block: auto;
    }

    @include mobile-s {
      margin-block: unset;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    min-height: 50px;

    @include mobile {
      flex-wrap: wrap;
      row-gap: 16px;
    }
  }

  &__item {
    @include flex-center();

    flex-direction: column;
    align-self: stretch;
    height: 50px;
    padding-inline: 32px;
    border-left: 2px solid var(--color-gray);

    @include mobile {
      padding-inline: 8px;
    }


  }

  &__item-description {
    font-weight: 500;
    font-size: 12px;
  }
  &__actions {
    grid-row: 1/3;

    @include tablet {
      grid-row: 1/2;
      grid-column: 2/3;
    }
    @include mobile {
      grid-row: 2/3;
    }
  }
}