.categories {
  display: flex;
  flex-direction: column;
  row-gap: 80px;

  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__button {
    color: var(--color-black);
    background-color: var(--color-secondary);
    width: 100%;
    max-width: 200px;
    border: 3px solid var(--color-secondary);
    transition-duration: var(--transition-duration);

    @include hover() {
      background-color: transparent;
      border-color: var(--color-black);
      color: var(--color-black);
    }
  }

  &__title {
    font-weight: 600;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 80px 20px;
    justify-content: space-between;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 80%;
      gap: 80px 40px;
      margin-inline: auto;
    }
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile-s {
      width: 100%;
      gap: 60px 20px;
    }

    &-item {
      opacity: 1;
      max-height: 1000px;
      transition-duration: var(--transition-duration);

      @include laptop-s {
        display: flex;
        flex-basis: 100%;
        max-width: 250px;
      }
    }

    &-item.hidden {
      opacity: 0;
      max-height: 0;
      margin: 0;
      padding: 0;
    }
  }

}